 <div class="contents row" >
    <p><%= @nickname %>さんの投稿一覧</p>
    <% @blogs.each do |blog| %>
      <div class="content_post" style="background-image: url(<%= blog.image %>);">
        <%= simple_format(blog.content) %>
        <span class="title"><%= blog.title %></span>
      </div>
    <% end %>
    <%= paginate(@blogs) %>
  </div>